<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ike.mapper.ext.ComplaintHandleExtMapper" >



    <select id="selAllByComplaintId" resultType="com.ike.pojo.vo.ComplaintHandleVo">
        select ch.*, u.username handlerName
        from complaint_handle ch
        inner join user u on ch.employee_id = u.id
        where ch.complaint_id=#{complaintId}
        order by ch.handle_time desc
    </select>

</mapper>
