<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ike.mapper.CustomerStageMapper" >
  <resultMap id="BaseResultMap" type="com.ike.pojo.CustomerStage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stage_name" property="stageName" jdbcType="VARCHAR" />
    <result column="stage_explain" property="stageExplain" jdbcType="VARCHAR" />
    <result column="stage_criteria" property="stageCriteria" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stage_name, stage_explain, stage_criteria
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ike.pojo.CustomerStageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer_stage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from customer_stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from customer_stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ike.pojo.CustomerStageExample" >
    delete from customer_stage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ike.pojo.CustomerStage" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customer_stage (stage_name, stage_explain, stage_criteria
      )
    values (#{stageName,jdbcType=VARCHAR}, #{stageExplain,jdbcType=VARCHAR}, #{stageCriteria,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ike.pojo.CustomerStage" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customer_stage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stageName != null" >
        stage_name,
      </if>
      <if test="stageExplain != null" >
        stage_explain,
      </if>
      <if test="stageCriteria != null" >
        stage_criteria,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stageName != null" >
        #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="stageExplain != null" >
        #{stageExplain,jdbcType=VARCHAR},
      </if>
      <if test="stageCriteria != null" >
        #{stageCriteria,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ike.pojo.CustomerStageExample" resultType="java.lang.Integer" >
    select count(*) from customer_stage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update customer_stage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.stageName != null" >
        stage_name = #{record.stageName,jdbcType=VARCHAR},
      </if>
      <if test="record.stageExplain != null" >
        stage_explain = #{record.stageExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.stageCriteria != null" >
        stage_criteria = #{record.stageCriteria,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update customer_stage
    set id = #{record.id,jdbcType=BIGINT},
      stage_name = #{record.stageName,jdbcType=VARCHAR},
      stage_explain = #{record.stageExplain,jdbcType=VARCHAR},
      stage_criteria = #{record.stageCriteria,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ike.pojo.CustomerStage" >
    update customer_stage
    <set >
      <if test="stageName != null" >
        stage_name = #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="stageExplain != null" >
        stage_explain = #{stageExplain,jdbcType=VARCHAR},
      </if>
      <if test="stageCriteria != null" >
        stage_criteria = #{stageCriteria,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ike.pojo.CustomerStage" >
    update customer_stage
    set stage_name = #{stageName,jdbcType=VARCHAR},
      stage_explain = #{stageExplain,jdbcType=VARCHAR},
      stage_criteria = #{stageCriteria,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>